.main {
  position: relative;
  min-height: calc(100vh - var(--header-height) - var(--footer-height));
  max-width: calc(var(--main-width) + var(--gap) * 2);
  margin: auto;
  padding: var(--gap);
}

.page-header h1 {
  font-size: 40px;
}

.pagination {
  display: flex;
}

.pagination a {
  color: var(--theme);
  font-size: 13px;
  line-height: 36px;
  background: var(--primary);
  border-radius: calc(36px / 2);
  padding: 0 16px;
}

.pagination .next {
  margin-inline-start: auto;
}

.social-icons a {
  display: inline-flex;
  padding: 10px;
}

.social-icons a svg {
  height: 26px;
  width: 26px;
}

code {
  direction: ltr;
}

div.highlight,
pre {
  position: relative;
}

.copy-code {
  display: none;
  position: absolute;
  top: 4px;
  right: 4px;
  color: rgba(255, 255, 255, 0.8);
  background: rgba(78, 78, 78, 0.8);
  border-radius: var(--radius);
  padding: 0 5px;
  font-size: 14px;
  user-select: none;
}

div.highlight:hover .copy-code,
pre:hover .copy-code {
  display: block;
}

/* Begin copy-text */

.copy-wrapper {
  position: relative;
  display: inline-block;
}

.copy-content {
  margin-left: -4px;
  cursor: pointer;
  position: relative;
  display: inline-block;
  padding: 2px 4px;
  border-radius: 4px;
  transition: background-color 0.2s;
  box-sizing: content-box;
}

.copy-content:hover {
  background-color: rgba(0, 0, 0, 0.05);
  outline: 1px solid rgba(0, 0, 0, 0.1);
  outline-offset: -1px;
}

.copy-content:active {
  background-color: rgba(0, 0, 0, 0.1);
}

.tooltiptext {
  visibility: hidden;
  background-color: #555;
  color: #fff;
  text-align: center;
  padding: 5px 10px;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.3s;
  font-size: 0.875rem;
  white-space: nowrap;
}

.copy-content:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

/* End copy-text */
